# .coveragerc to control coverage.py
[run]
branch = True
omit = settings.py,
       */versions/*,
       */__init__.py,
       */__main__.py,
       */factories.py,
       tests/*,
       api/schema.py,
       db/models.py,

[report]
precision = 4
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
