aiohttp
aiohttp-apispec
aiohttp_jwt
aiomisc
alembic
asyncpgsa
ipdb
ipython
factory-boy
flake8-print
pytest-aiohttp
pytest-cov
marshmallow
passlib
pip-tools
python-socketio==4.6.1
psycopg2
SQLAlchemy
sqlalchemy_utils
